*{
    height: 0;
    width: 0;
    background-image: url(./img/home\ img.jpg);
    background-repeat: no-repeat;
    background-size:  1900px;
    height: 80px;
}
.navbar{
    height: 100%;
    width: 100%;
    display: inline;
}
.navbar input{
    width: 100px;
  display: inline-block;
  position: relative;
}